article p {
    text-align: justify;
}

img[src$='#center'] {
    display: block;
    margin: 0.7rem auto;
}


/* for Mainroad theme */

article div.list__excerpt {
    text-align: justify;
}

.main__title {
    text-transform: uppercase;
}

